image:
  repository: 338034595180.dkr.ecr.us-west-2.amazonaws.com/demo-java-app:v1.0.29
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 8080

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 75

config:
  message: "Hello from ConfigMap!"

probes:
  liveness:
    path: /actuator/health/liveness
    initialDelaySeconds: 20
    periodSeconds: 10
  readiness:
    path: /actuator/health/readiness
    initialDelaySeconds: 10
    periodSeconds: 5

strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0

ingress:
  enabled: true
  className: nginx
  host: demo.local
  path: /
